<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Create or Update Review</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/chatModal/chatModal.css}">
    <link rel="stylesheet" th:href="@{/css/notification/notification.css}">
    <link rel="stylesheet" href="/css/review/createOrUpdateReview.css" />
</head>

<body>
<input type="hidden" th:value="${memberId}" id="memberId">
<div th:replace="~{layout/header}"></div>
<form method="post" th:object="${review}" enctype="multipart/form-data" id="reviewForm" class="header-form">

    <input type="hidden" th:field="*{reviewId}" />
    <input type="hidden" th:field="*{meetEntity}" />
    <input type="hidden" th:field="*{writer}" />

    <label for="title">리뷰제목:</label>
    <input type="text" id="title" th:field="*{title}" required /><br />

    <label for="content">리뷰내용:</label>
    <textarea id="content" th:field="*{content}" required></textarea><br />


    <!-- 별점 기능 추가 -->
    <label for="placeRate">모임장소 별점:</label>
    <div id="placeRate" class="header-form">
        <input type="radio" id="rate1" name="placeRate" value="1" th:checked="${review.placeRate == 1}" required />
        <label for="rate1">1</label>
        <input type="radio" id="rate2" name="placeRate" value="2" th:checked="${review.placeRate == 2}" />
        <label for="rate2">2</label>
        <input type="radio" id="rate3" name="placeRate" value="3" th:checked="${review.placeRate == 3}" />
        <label for="rate3">3</label>
        <input type="radio" id="rate4" name="placeRate" value="4" th:checked="${review.placeRate == 4}" />
        <label for="rate4">4</label>
        <input type="radio" id="rate5" name="placeRate" value="5" th:checked="${review.placeRate == 5}" />
        <label for="rate5">5</label>
    </div><br />

    <!-- 썸네일 이미지 업로드 -->
    <label for="thumbnail" >*썸네일이미지: (썸네일 이미지는 수정이 불가합니다)</label>
    <input class="form-control" type="file" id="thumbnail" name="thumbnail" accept="image/*"
           required th:if="${thumbnail == null}">

    <!-- 썸네일 이미지 미리보기 -->
    <div id="thumbnail-preview-container">
        <img id="thumbnail-preview" src="#" alt="Thumbnail Preview"
             style="display: none; max-width: 200px; max-height: 200px;">

        <!-- 기존에 선택된 썸네일 이미지 표시 -->
        <div id="selected-thumbnail-container" th:if="${thumbnail != null}">
            <img id="selected-thumbnail-preview" th:src="${thumbnail.path}"
                 alt="Selected Thumbnail Preview" style="max-width: 200px; max-height: 200px;">
        </div>
    </div><br />

    <!-- 추가 이미지 업로드 -->
    <label for="additionalImages">추가이미지:</label>
    <input class="form-control" type="file" id="additionalImages" name="multipartFile" accept="image/*"
           multiple>
    <!-- 추가 이미지 미리보기 -->
    <!-- TODO: 수정 시 추가 이미지 미리보기 안뜸 -->
    <div id="additionalImages-preview" src="#"></div><br />
    <!-- 기존에 선택된 추가 이미지 표시 -->
    <div th:if="${file != null}" th:each="fileItem : ${file}">
        <div th:id="'selectedImages-preview' + ${fileItem.fileId}">
            <img th:src="${fileItem.path}" alt="Selected Image Preview" style="max-width: 200px; max-height: 200px;" >
            <button type="button" th:id="'selected-img-remove-button' + ${fileItem.fileId}" th:onclick="removeImage('[[${fileItem.fileId}]]')">-</button>
        </div>
    </div>

    <input type="hidden" id="idListField" name="idList" value="" />

    <button
            th:with="text=${file != null} ? '리뷰 수정' : '리뷰 등록'"
            class="review-submit-btn" type="submit" th:text="${text}">Submit
    </button>
</form>

<div th:replace="~{chatModal/chatModal}"></div>
    <script type="text/javascript" src="/js/review/review.js"></script>
</body>
<script type="text/javascript" th:src = "@{/js/notification/notification.js}"></script>
<script type="text/javascript" th:src = "@{/js/chatModal/chatModal.js}"></script>
</html>
