<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" pageEncoding="UTF-8"/>
    <title>우주플레이(Would You Play)</title>
    <!--Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!--Style-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href = "@{/css/chatModal/chatModal.css}">
    <link rel="stylesheet" th:href = "@{/css/notification/notification.css}">
    <link rel="stylesheet" href="/css/meet/main.css" />
</head>

<body>
<div th:replace="~{layout/header}"></div>
<input type = "hidden" id="memberId" th:value=${memberId} />
<div class="container-main">
    <div class="meet-div">
        <div class="left-div">
            <div id="search" class="search-box">
                <form id="frm" onsubmit="searchPlaces(); return false;">
                    <input type="text" id="keyword" class="input_search" placeholder="모임을 열고싶은 장소를 검색해주세요">
                    <input id="totSearch" type="submit" value="" class="btn_search">
                </form>
            </div>
            <div id="all-div">
            <div id="new5-div">
                <div th:each="meetEntity : ${meetList}" class="meet-content" th:onclick="|location.href='/meet/meetDetail/${meetEntity.meetId}'|">
                    <div><span th:text="${meetEntity.meetName}"></span> | <span th:text="${meetEntity.sportsId.name}"></span></div>
                    <div th:text="${#dates.format(meetEntity.meetDate, 'yyyy년 MM월 dd일(E) a hh:mm')}"></div>
                    <div th:text="${meetEntity.locationId.placeName}"></div>
                    <div><button class="btn-list1"></button><span th:text="${meetEntity.currNumber}"></span>/<span th:text="${meetEntity.maxNumber}"></span></div>
                </div>
            </div>
            </div>
            <div id="list-div" class="list-div">
                <div>
                    <ul id="placesList"></ul>
                </div>
                <div id="pagination"></div>
                <div id="meetAdd">
                    <form th:action="@{add}" th:object="${meet}" method="post" id="meetCreationForm">
                        <input type="hidden" th:field="*{active}" />
                        <input type="hidden" th:field="*{visible}" />
                        <input type="hidden" th:field="*{currNumber}" />
                        <input type="hidden" id="locationId" th:field="*{locationId}"/>

                        <table>
                            <tr>
                                <td>모임 이름</td>
                                <td>
                                    <input type="text" th:field="*{meetName}" id="meetName" required/>
                                </td>
                            </tr>
                            <tr>
                                <td>모임 소개</td>
                                <td>
                                    <textarea th:field="*{meetInfo}" id="meetInfo" required></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>스포츠</label>
                                </td>
                                <td>
                                    <select id="sportsSelect" th:field="*{sportsId}">
                                        <option th:each="sport : ${sportsData}" th:value="${sport.sportsId}" th:text="${sport.name}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>장소 이름</td>
                                <td>
                                    <input type="text" id="placeName" style="background-color: #dddddd;" readonly/>
                                </td>
                            </tr>
                            <tr>
                                <td>장소 주소</td>
                                <td>
                                    <input type="text" id="placeAdd" style="background-color: #dddddd;" readonly/>
                                </td>
                            </tr>
                            <tr>
                                <td>모임날짜</td>
                                <td>
                                    <input type="datetime-local" th:field="*{meetDate}" id="meetDate" min="<%= getCurrentDate() %>" required />
                                </td>
                            </tr>
                            <tr>
                                <td>모집인원</td>
                                <td><input type="text" th:field="*{maxNumber}" id="maxNumber" required/></td>
                            </tr>
                            <tr>
                                <td>모임조인</td>
                                <td>
                                    <label><input type="radio" th:field="*{mergeYn}" th:value="1" th:checked="checked"/> 좋아요 </label>
                                    <label><input type="radio" th:field="*{mergeYn}" th:value="0" /> 싫어요 </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div>* 모임조인 기능이란?</div>
                                    <div>모임원이 모두 채워지지 않은 상태에서 비슷한 모임과 합치고 싶을때 모임조인을 요청해 두모임이 합쳐지는 기능입니다.<br> 모임조인을 요청한 모임이 승낙한 모임에 흡수됩니다.</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" class="common_btn_blue" value="모임 만들기"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="map-div" id="map"></div>
</div>
<div th:replace="~{chatModal/chatModal}"></div>


<script th:inline="javascript" th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?'+'appkey='+${@environment.getProperty('mapKey')}}+'&libraries=services,clusterer,drawing'"></script>
<script type="text/javascript" src="/js/kakaoMap/map.js"></script>
<script type="text/javascript" th:src = "@{/js/notification/notification.js}"></script>
<script type="text/javascript" th:src = "@{/js/chatModal/chatModal.js}"></script>
</body>
</html>
